@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    background: #f1f1f1;
  }

  /* Style for header */
.header {
  background-color: #444444;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  top: 0;
  color: #fff;
}

/* Style for search bar */
.search {
position: relative;
}

.search form {
  display: flex;
  align-items: center;
}

.search input[type="text"] {
  padding: 8px 23px;
  border-radius: 20px;
  border: 2px solid rgb(221, 126, 81);
  font-size: 14px;
}

.search input[placeholder="Search..."]{
  font-weight: 500;
}

.search button[type="submit"] {
  padding: 6px 20px;
  border-radius: 20px;
  border: 2px solid rgb(221, 126, 81);
  background-color: #fff;
  margin-left: 5px;
  cursor: pointer;
}

.search button[type="submit"]:hover {
  background-color: #000000;
  color: #fff;
}

.search i:hover {
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .search {
    justify-content: center;
    margin-top: 10px;
  }
}

/* Style for navigation bar */
.navbar {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0 !important;
  background-color: sienna;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(221, 126, 81);
}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: width 1s ease;
  border-radius: 0px;
  margin-top: 0px;
}

.navbar-brand{
  color: #444444;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Lobster', cursive;
}

/* Toggle button for mobile navigation */
.nav-toggle {
  display: none;
  width: 30px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.nav-toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.nav-toggle span:nth-child(1) {
  top: 0px;
}

.nav-toggle span:nth-child(2), 
.nav-toggle span:nth-child(3) {
  top: 11px;
}

.nav-toggle span:nth-child(3) {
  transform-origin: center bottom;
}

.nav-toggle.active span:nth-child(1) {
  top: 11px;
  transform: rotate(45deg);
}

.nav-toggle.active span:nth-child(2) {
  transform: translateX(50px);
  opacity: 0;
}

.nav-toggle.active span:nth-child(3) {
  top: 11px;
  transform: rotate(-45deg);
}

.nav-menu {
  display: none;
}

.nav-menu.active {
  display: block;
}



/* Navigation Menu */
.navbar .nav-link{
  color: #fff;
}
.navbar a:hover{
  color: rgb(224, 147, 112);
}

.nav-icon{
  margin-left: 40px;
  letter-spacing: 30px;
}
.nav-icon .nav-item a{
  color: #ffffff;
}

.nav-icon .nav-item a:hover{
  color: rgb(224, 147, 112);
}

/* Style for dropdown menu */
.dropdown-menu {
  font-size: 16px;
}


/* Style for dropdown menu item */
.dropdown-item {
  color: #333;
}

/* Style for dropdown menu item on hover */
.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #333;
}

/* Style for dropdown menu item when active */
.dropdown-item.active,
.dropdown-item:active {
  background-color: #007bff;
  color: #fff;
}
 
  
  main{
    padding: 10px;
  }
  
  
  /* banner */
  .banner {
  background-image: url('/E-commerce/banner/About.jpg');
	background-size: cover;
  background-position: center center;
	height: 300px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	color: #fff;
	text-align: center;
  }

  .banner-container{
    background-color: rgba(0, 0, 0, 0.274);
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-size: cover;
    background-position: center center;
	height: 300px;
    padding: 20px;
  }

  .banner-container h1{
    letter-spacing: .15em;
    font-weight: 500;
    font-size: 50px;
    margin-top: 80px;
  }
  
  #typewriter.typing {
    animation: typing 3s steps(30, end), blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  

  @media screen and (max-width: 768px){
    .banner-container h1{
      font-size: 35px;
    }
    .banner-container h2{
      font-size: 35px;
    }

    .banner-container p{
      font-size: 15px;
    }
  }

  @media screen and (max-width: 480px){
    .banner-container h1{
      font-size: 20px;
    }

    .banner-container h2{
      font-size: 20px;
      margin-top: -0px;
      margin-bottom: 20px;
    }

    .banner-container p{
      font-size: 12px;
    }
  }

  .descrption-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    }
    
    .descrption-container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Lobster', cursive;
    color: #444444;

    }
    
    .descrption-container p {
    margin-bottom: 20px;
    }
    
    
    @media only screen and (max-width: 767px) {
      .descrption-container h1 {
        font-size: 30px;
        }
    }

    .owner-container{
      background: linear-gradient(90deg,sienna,#363636);
      padding: 70px;
      margin-top: 8rem;
      margin-bottom: 8rem;
    }

    .owner{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .owner img{
      width: 40%;
      height: auto;
    }

    .owner .description{
      padding-left: 60px;
      color: #fff;
    }

    .owner .description h2{
      margin-bottom: 20px;
    }

    .owner .description p{
      font-size: 14px;
    }

    @media screen and (max-width: 991px) {
      .owner-container img{
        width: 50%;
      }
    }

    @media screen and (max-width: 830px) {
      .owner-container{
        padding: 30px;
      }

      .owner-container img{
        width: 100%;
      }

      .owner{
        display: inline-block;
      }

      .owner .description{
        padding-left: 0;
        margin-top: 20px;
      }

    }

    
  

    /* Footer styles */
    footer {
      background-color: sienna;
      padding: 50px 0;
    }
    
    footer h4 {
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  
    footer p {
      margin-bottom: 10px;
      font-weight: 500;
      color: #ffffff;
    }
    
    footer ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    footer ul li {
      margin-bottom: 10px;
    }
    
    footer ul li a {
      color: #ffffff;
      font-weight: 500;
    }
  
    footer li a .fab{
      margin-right: 10px;
    }
  
    footer .col-lg-3 .fa{
      margin-right: 10px;
    }
  
    footer .col-lg-3 .fa-instagram{
      color: #E4405F;
    }
    footer .col-lg-3 .fa-pinterest{
      color: #BD081C;
    }
  
    footer .col-lg-3 .fa-facebook{
      color: #3B5998;
    }
  
    footer .col-lg-3 .fa-youtube{
      color: #FF0000;
    }
  
    footer .col-lg-3 .fa-linkedin{
      color: #0077B5;
    }
  
    footer .col-lg-3 .fa-twitter{
      color: #1DA1F2;
    }
  
    footer .col-lg-3 .fa-location-dot{
      color: #FFC107;
    }
    footer .col-lg-3 .fa-phone-alt{
      color: #4CAF50;
    }
    footer .col-lg-3 .fa-envelope{
      color: #2196F3;
    }
    footer .col-lg-3 .fa-clock{
      color: #9E9E9E;
    }
  
    footer .col-lg-3{
      background-color: rgb(197, 128, 96);
      height: 17em;
      padding: 20px;
    }
  
    footer .copyright{
      text-align: center;
      padding-top: 10px;
      margin-bottom: -50px;
      color: #fff;
    }

    footer .copyright h4{
      font-weight: 500;
      font-size: 15px;
    }

  @media screen and (max-width: 991px) {
    .nav-icon{
      margin: 0;
    }
  
    .nav-icon .nav-item{
      margin-top: 13px;
    }
  
    .nav-toggle{
      display: block;
      margin-right: 3em;
    }
  }
  
  /* Responsive styles */
  @media screen and (max-width: 767px) {
    /* Header styles */
    .header {
        flex-direction: column;
    }
  
    .navigation {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
        
        .menu {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        }
        
        .menu-item {
        margin: 10px 0;
        }
        
        footer {
        margin-top: 20px;
        }
        }
        
        @media only screen and (max-width: 480px) {
        .nav-icon .nav-item{
          margin-top: 13px;
        }
  
        footer {
        margin-top: 10px;
        padding: 10px;
        }
        
        footer {
        font-size: 12px;
        }
    }
